$background-grey: #EEE;
$main-blue: #007bff;
$hover-blue: #0069d9;
$card-shadow: rgba(0, 0, 0, 0.1);
$border-color: #00000020;
$button-text-color: #fff;
$red-alert: rgb(254, 88, 88);
$red-alert-hover: rgb(202, 69, 69);