{% include 'layout.html' %}

<div class="container">

    <h2 class="mb-4">
        What's up, {{user.username}}
    </h2>

    <a class="btn btn-primary btn-blue mb-4" href="add-todo"> Add a new Todo!</a>

    <div class="card text-center mb-5">
        <div class="card-body">
            <h5 class="card-title"> List of your Todos!</h5>

            <p class="card-text"> Information regarding stuff that needs to be complete</p>

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th scope="col">Num</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for todo in todos %}

                    {% if todo.complete == False %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>
                        <td>{{todo.title}}</td>
                        <td>
                            <button type="button" class="btn btn-success"
                                onclick="window.location.href='complete/{{todo.id}}'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                </svg>
                            </button>
                            <button type="button" class="btn btn-info btn-blue"
                                onclick="window.location.href='edit-todo/{{todo.id}}'">Details</button>
                        </td>
                    </tr>
                    {% else %}

                    <tr class="pointer alert alert-success">
                        <td>{{loop.index}}</td>
                        <td class="strike-through-td">{{todo.title}}</td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                onclick="window.location.href='complete/{{todo.id}}'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                                    class="bi bi-x" viewBox="0 0 16 16">
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                            <button type="button" class="btn btn-info btn-blue"
                                onclick="window.location.href='edit-todo/{{todo.id}}'">Details</button>
                        </td>
                    </tr>

                    {% endif %}

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>